            <li><a href="https://www.cs.grinnell.edu/~rebelsky/Courses/CSC207/2014F/">Rebelsky 2014F</a></li>
            <li><a href="http://vostinar.sites.grinnell.edu/csc-207-spring-2018-syllabus/">Vostinar 2018S</a></li>
            <li><a href="https://unity.homelinux.net/courses/object-oriented-programming/">Stone 2018F</a></li>
            <li><a href="http://www.cs.grinnell.edu/~walker/courses/207.fa18/">Walker 2018F</a></li>
            <li><a href="https://www.cs.grinnell.edu/~rebelsky/Courses/CSC207/2019S/01">Rebelsky 2019S (Section 1)</a></li>
            <li><a href="https://www.cs.grinnell.edu/~rebelsky/Courses/CSC207/2019S/02">Rebelsky 2019S (Section 2)</a></li>
